<!DOCTYPE html>
<html>
    <head>
        <meta charset="utf-8">
        <title>Lucky Steps to Skill :: Администрирование</title>
        <link rel="stylesheet" href="{{ extjs_css }}">
        <script type="text/javascript" src="{{ extjs_js }}"></script>
        <script type="text/javascript" src="{{ url_for('static', filename='luckysts-common.js') }}"></script>
        <script type="text/javascript" src="{{ url_for('static', filename='luckysts-dictionary.js') }}"></script>
    </head>
    <body></body>
</html>