<!DOCTYPE html>
<html>
<head>
    <title>Lucky Steps to Skill - under construction</title>
    <style>
        html, body {
            margin: 0; padding: 0; height: 100%;
        }
        #wrap {
            min-height: 100%; margin-bottom: -80px;
            background:url({{ url_for('static', filename='luckysts-underconstruction.png') }}) no-repeat center center;
        }
        * html #wrap {
            height: 100%;
        }
    </style>
</head>
<body>
    <div id="wrap"></div>
</body>
</html>